<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spot_the_Spot</title>
  <link rel="icon" type="image/png" href="/static/images/spoteye.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css" integrity="sha512-yXagpXH0ulYCN8G/Wl7GK+XIpdnkh5fGHM5rOzG8Kb9Is5Ua8nZWRx5/RaKypcbSHc56mQe0GBG0HQIGTmd8bw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/static/style.css"/>

  <style>
    .spot {
      border: 2px solid black;
    }
  </style>
</head>

  
<body>
  
  <nav id='header'
  class='absolute left-0 top-0 w-full h-16 bg-blue-700 bg-opacity-80 text-lg z-50 flex flex-row items-center'>
    <div class='logo block text-4xl px-2 h-full flex relative text-center items-center centered'>
      <p1 class='text-white'>Sp<img src="/static/images/spoteye.png" class='w-12 h-12 inline-block'>t the Spot</p1>
      &nbsp;  </div>
  </nav>
  
  <div class='flex justify-between'>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    <div class='row'>
      <div class='spot exists active'></div>
      <div class='spot exists active'></div>
    </div>
    
  </div>
  
  
</body>
</html>